Thermostat.iml
.idea/
/src/resources/db.properties
/src/resources/config.json
/src/personal.opensrcerer/META-INF/
/target/
/thermobasecurrent.sql
/src/test/resources/config.json
/src/test/resources/db.properties
